* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    background-color: #63513c;
}

.logo {
    width: 100px;
    height: 75px;
}

.section-header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    color: white;
    text-align: center;
}

nav {
    width: 100%;
    position: fixed;
    background-color: #834655;
    top: 0;
    left: 0;
}

#navbar {
    height: 75px;
}

.menu {
    list-style-type: none;
    font-size: 1.3rem;
    height: 75px;
    margin: 0;
    padding: 0;
    color: white;
    display: inline-flex;
    align-items: center;
}


.menu li {
    float: left;
    height: 100%;
    padding: 0 30px 0 30px;
    display: flex;
    align-items: center;
}

.menu li:not(:first-child):hover {
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
}

.menu li a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    color:inherit;
    text-decoration: none;
}


main {
    margin-top: 50px;
}

.home {
    background-image: url("../assets/asian_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Amatic SC', cursive;
    height: 600px;
    font-size: 1.5rem;
}


.about {
    max-width: 2000px;
    padding: 30px;
    margin: 10px;
    align-content: center;
}

.about-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.about div {
    text-align: center;
}

.centered-headers {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titled-paragraph {
    font-family: 'Roboto Slab', serif;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.1em;
}

.titled-paragraph h3 {
    text-align: center;
}

.bombowiec {
    background-image: url(../assets/bombowiec.jpg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 5%;
}

.recommendations-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.recommendations {
    padding: 30px;
    width: 100%;
    overflow: hidden;
    align-content: center;

}

.contact-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    grid-template-areas: 
    "logo footer1 footer2 footer3"
    "logo footer4 footer5 footer6";
}

.contact {
    width: 100%;
    overflow: hidden;
    align-content: center;
    background-color: black;
    padding-bottom: 10px;
}


.food-item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.food-item:hover {
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
}

.food-item figure {
    margin: 0;
    padding-top: 15px;

}

.food-item img {
    width: 90%;
    height: auto;
    border-radius: 40px;
}

.food-item figcaption {
    margin-top: 10px;
}

.food-item p {
    padding: 10px;
}

footer {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
}

.info p {
    padding: 10px;
}

.footer-logo {
    grid-area: logo;
    text-align: center;
}

.footer-logo img {
    width: 100px;
    height: 100px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px
}

.icons a {
    text-decoration: none;
    color: white;
}

.footer1 {
    grid-area: footer1;
 }
 .footer2 {
    grid-area: footer2;
 }
 .footer3 {
    grid-area: footer3;
 }
 .footer4 {
    grid-area: footer4 
 }
 .footer5 {
    grid-area: footer5;
 }
 .footer6 {
    grid-area: footer6;
 }

 @media (max-width: 800px) {

    .home {
        font-size: 1.2rem;
    }
    
    .about {
        padding: 0;
        margin: 10px;
        align-content: center;
    }

    .about-grid {  
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .recommendations-grid {
        padding: 30px;
        width: 100%;
        overflow: hidden;
        align-content: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .contact-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "logo"
        "footer1"
        "footer2"
        "footer3";
    }

    .info p {
        padding: 5px;
        margin: 0;
    }

    .footer4 {
        grid-area: footer4;
        display: none;
     }
     .footer5 {
        grid-area: footer5;
        display: none;
     }
     .footer6 {
        grid-area: footer6;
        display: none;
     }
}




